//about wrapper
.about-wrapper {
  border: yellow 2px solid;
  @include center(column);

  //title
  h3 {
    border: yellow 2px solid;
  }
  // about me
  .about-me {
    border: red 2px solid;
    width: 30vw;
    @include center(row);

    .profile-pic {
      border: yellowgreen 2px solid;
      width: auto;

      img {
        // border: yellow 2px solid;
        border-radius: 50%;
        border: $blue 0.3rem solid;
        box-shadow: $boxshadow;
      }
    }
    p {
      border: blue 2px solid;
    }
  }
  .learning-journey {
    border: yellow 2px solid;
  }
  .skills-wrapper {
    border: yellow 2px solid;
    .skill-levels {
      border: yellow 2px solid;
      h4,
      label,
      .skill-bar {
        border: yellow 2px solid;
      }
      .skillbar {
        .lang {
          border: yellow 2px solid;
        }
      }
    }
    .work-skills {
      border: yellow 2px solid;
    }
  }
  .cv-download-wrapper {
    border: yellow 2px solid;
    a {
      border: yellow 2px solid;
    }
  }
}

// profile pic of About
.viviane {
  height: 10vw;
  width: 9vw;
}
