//about wrapper
.about-wrapper {
  border: yellow 2px solid;
  @include center(column);

  //title
  .about-title {
    border: yellow 2px solid;
  }
  // about me - all of what is underneath the title
  .about-me-wrapper {
    border: red 2px solid;
    width: 85vw;
    @include center(row, space-between);
    // about me info
    .about-me {
      border: yellowgreen 2px solid;
      width: 30vw;
      height: 70vh;
      @include center(column, space-evenly);
      //wrapper of profile pic
      .profile-pic {
        border: green 2px solid;
        width: auto;
        // profile image
        img {
          border-radius: 50%;
          border: $blue 0.3rem solid;
          box-shadow: $boxshadow;
          height: 20vw;
          width: 19vw;
        }
      }
      // about me text
      p {
        border: blue 2px solid;
        line-height: 1.5;
        font-size: 17px;
        text-align: justify;
      }
    }
  }
  // tech info - learning text and skill cloud
  .skills-wrapper {
    //learning journey text
    .learning-journey {
      border: yellow 2px solid;
      width: 40vw;
    }
    border: yellow 2px solid;
    // tech stats
    .work-skills {
      border: yellow 2px solid;
      //svg cloud wrapper
      .cloud-wrapper {
        border: yellow 2px solid;
        img {
          background-color: $blue;
        }
      }
    }
  }
  .cv-download-wrapper {
    border: yellow 2px solid;
    a {
      border: yellow 2px solid;
    }
  }
}

// profile pic of About
.viviane {
  height: 10vw;
  width: 9vw;
}
