// importing variables so that they can be applied here
@import "../abstracts/variables";

// importing animation keyframes for the animation shake
@import "../abstracts/animations";

// nesting for contact element
// section > contact-wrapper > h2, social-media-form-wrapper
// social-media-form-wrapper > social-media/icon-wrapper, form
// social-media/icon-wrapper > icon*4 > a > FontAwesomeIcon
// form > fn-wrapper, ln-wrapper, email-wrapper, textarea, button (type=submit)
// fn-wrapper, ln-wrapper, email-wrapper > label, input (type=text||email)

// contact wrapper
.contact-wrapper {
  border: tomato 2px solid;
  width: 70vw;
  height: 90vh;
  margin: auto;
  @include center(column);

  //holler-phone-wrapper, the wrapper of contact title and icon
  .holler-phone-wrapper {
    border: blueviolet 2px solid;
    @include center(row);
  }
  // h2, title of contact form
  h2 {
    font-size: 35px;
  }
  // phone icon with title of contact animates 5 times
  .phone {
    animation: shake 0.7s 5 ease-out;
    color: rgb(199, 16, 159);
    font-size: 29px;
    margin-left: 1rem;
  }

  // social-media-form-wrapper
  .social-media-form-wrapper {
    border: white 2px solid;
    @include center(row);
    margin-top: 2rem;
  }

  // social media icons
  .icon-wrapper {
    @include center(column, space-between);
    margin: 1rem;
    font-size: 30px;
    height: 40vh;
    width: 2.7rem;
    border-radius: $border-radius;
    background-color: $blue;
    .icon {
      border: 2px black solid;
      color: $fontColor;
    }
  }
  // form
  form {
    @include center(column, space-evenly);
    width: 60vw;
    height: 60vh;
    background-color: $blue;
    border-radius: $border-radius;

    // inputs (firstname, lastname, email)
    input {
      font-family: inherit;
      color: $blue;
      border-radius: $border-radius;
      margin-left: 0.7rem;
      padding: 0.2rem 0.3rem;
      // background-color: whitesmoke;
      &::placeholder {
        color: $blue;
      }
    }

    // textarea and submit button wrapper
    .textarea-submit-wrapper {
      @include center(row);
      border: green 2px solid;
    }
    // textarea for message
    textarea {
      // align-self: flex-end;
      width: 20vw;
      height: 20vw;
      padding: 0.2rem 0.3rem;
      border-radius: $border-radius;
      color: $blue;
      font-family: inherit;
      &::placeholder {
        color: $blue;
      }
    }

    // submit button
    .submit-btn {
      background: $background-gradient;
      width: auto;
      height: auto;
      padding: 0.5rem 1rem;
      border: none;
      border-radius: 0.4rem;
      box-shadow: $boxshadow;
      color: $fontColor;
      font-family: inherit;
      font-weight: bold;
      font-size: 17px;

      cursor: pointer;
      &:hover {
        background: $light-blue-green;
        transition: ease-in 0.3s;
        & .plane {
          animation: fly-away 2s 1 linear forwards;
        }
      }
      &:active {
        background: $blue;
        transition: ease-in 0.2s;
      }
    }
  }
}

// issues:
// button hover does not work
// button background color not working
