// importing variables so that they can be applied here
@import "../abstracts/variables";

// projectItem-wrapper (li)
.projectItem-wrapper {
  list-style: none;
  // min-width: 100%;
  height: 80vh;
  @include center(row, space-evenly);
  border: powderblue 3px solid;
  // position: absolute;
  a {
    color: white;

    :active {
      color: $blue;
    }
  }
}
// project wrapper individually
.proj-wrapper-0 {
  background-color: lawngreen;
}
.proj-wrapper-1 {
  background-color: green;
  // display: none;
}
.proj-wrapper-2 {
  background-color: yellow;
  display: none;
}
.proj-wrapper-3 {
  background-color: pink;
  display: none;
}
.proj-wrapper-4 {
  background-color: blue;
  display: none;
}
.proj-wrapper-5 {
  background-color: red;
  display: none;
}
// screenshots of project
.proj-img {
  height: 30vw;
  width: auto;
  margin-right: 2rem;
  // position: absolute;
  // top: 0;
  // left: 0;
  box-shadow: $boxshadow;
  border-radius: $border-radius;
}
.proj-image0 {
  border: yellow 5px solid;
  // @include animation-proj();
  z-index: 1;
}
.proj-image1 {
  border: green 5px solid;
  // display: none;
  // @include animation-proj(3s);
  z-index: 2;
}
.proj-image2 {
  border: blue 5px solid;
  display: none;
  // @include animation-proj(2s);
}
.proj-image3 {
  border: orange 5px solid;
  display: none;
}
.proj-image4 {
  border: plum 5px solid;
  display: none;
}
.proj-image5 {
  border: plum 5px solid;
  display: none;
}

// description of project
.proj-description {
  // border: white solid 2px;
  width: 20vw;
  z-index: 10;
  background-color: $blue;
  border-radius: $border-radius;
  box-shadow: $boxshadow;
  * {
    margin: 1rem 1rem;
  }
}
