// projectItem-wrapper (li)
.projectItem-wrapper {
  list-style: none;
  @include center(row);
}
// screenshot of project
.proj-image {
  height: 30vw;
  width: auto;
}

// description of project
.proj-description {
  border: white solid 2px;
  width: 20vw;
  * {
    margin: 1rem 1rem;
  }
}
