body {
  // background-color: #2f3e46;
  // background-color: #172f3b;
  // background: linear-gradient(#00a896, #028090);
  background: $background-gradient;
}

// styling navigation of fullpage.js
// Navigation titles
#fp-nav ul li .fp-tooltip {
  font-size: 20px;
}
// navigation dots
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: white;
}
