@import "../abstracts/variables";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body {
  height: 100vh;
  width: 100vw;
  // background-color: #2f3e46;
  // background-color: #172f3b;
  // background: linear-gradient(#00a896, #028090);
  background: $background-gradient;
}

// fullpage.js section
.section {
  border: #161a1d 2px solid;
}
