// * {
//   font-size: 16px;
// }

body {
  // font-family: "OldLondon";
  // font-family: "Casta";
  font-family: "K2D";
  // font-weight: 900;
}

h1 {
  font-weight: 800;
}
h2 {
  font-weight: 700;
}
h3 {
  font-weight: 600;
}
h4 {
  font-weight: 500;
}
p {
  font-weight: 400;
}
