// animations for home
// switching text animation
@keyframes swoosh {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-110px);
  }
}

// animation for abstract lines on the left
@keyframes move {
  0% {
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(1.4);
    opacity: 0;
  }
}
@keyframes move-child {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(30%);
    opacity: 0;
  }
}

// animations for contact page
// phone shaking animation
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
    color: $light-blue-green;
  }
  10% {
    transform: translate(-3px, -3px) rotate(-2deg);
  }
  20% {
    transform: translate(2px, 3px) rotate(2deg);
  }
  30% {
    transform: translate(3px, -3px) rotate(-2deg);
  }
  40% {
    transform: translate(-3px, 1px) rotate(3deg);
  }
  50% {
    transform: translate(1px, 2px) rotate(-2deg);
  }
  60% {
    transform: translate(-3px, 3px) rotate(2deg);
  }
  70% {
    transform: translate(3px, -3px) rotate(-3deg);
  }
  80% {
    transform: translate(1px, 1px) rotate(2deg);
  }
  90% {
    transform: translate(-2px, 3px) rotate(-2deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(4deg);
    color: $light-blue-green;
  }
}

// paper plane animation
@keyframes fly-away {
  0% {
    transform: translate(0, -1vw) rotate(0deg);
  }
  10% {
    transform: translate(1vw, -2vw) rotate(5deg);
  }
  20% {
    transform: translate(3vw, -2.5vw) rotate(5deg);
  }
  30% {
    transform: translate(4.5vw, -3vw) rotate(-5deg);
  }
  40% {
    transform: translate(6.5vw, -3.5vw) rotate(5deg);
  }
  50% {
    transform: translate(8.5vw, -4vw) rotate(10deg);
  }
  60% {
    transform: translate(10vw, -4.5vw) rotate(5deg);
  }
  70% {
    transform: translate(13vw, -5.5vw) rotate(5deg);
  }
  80% {
    transform: translate(16vw, -6.5vw) rotate(5deg);
  }
  90% {
    transform: translate(19vw, -7.5vw) rotate(-15deg);
    color: grey;
    opacity: 0.9;
  }
  100% {
    transform: translate(20vw, -7vw) rotate(-10deg);
    color: grey;
    opacity: 0;
  }
}

// animation for placeholders of input and textarea
@keyframes move-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-7vw);
    color: white;
  }
}
