// flex center
@mixin center($flex-dir: row, $justify-content: center, $align-items: center) {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-flex-direction: $flex-dir;
  -moz-flex-direction: $flex-dir;
  -ms-flex-direction: $flex-dir;
  -o-flex-direction: $flex-dir;
  flex-direction: $flex-dir;
  justify-content: $justify-content;
  align-items: $align-items;
}

// font
@mixin font-face($font-family, $file-path, $weight: normal) {
  @font-face {
    font-family: $font-family;
    src: url($file-path);
    font-weight: $weight;
  }
}

// animation for image slider
@mixin animation-proj($delay: 0s) {
  animation: move-to-front 3s infinite $delay ease-in;

  @keyframes move-to-front {
    0% {
    }
    // 90% {
    //   opacity: 1;
    // }
    100% {
      transform: translate(5vw, 5vw);
      // opacity: 0;
      z-index: -1;
    }
  }
}
