// background gradient green blue
// $background-gradient: linear-gradient(#00a896, #05668d);
$background-gradient: linear-gradient(#03d39f, #009589, #05508d);

// box shadow for most elements
$boxshadow: 4px 7px 9px rgb(28, 35, 44);

// font color
$fontColor: white;

//colors
$light-blue-green: rgb(0, 177, 109);
$blue: #05508d;
